In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

'''
About this file
This dataset includes percentage of energy intake (kcal)
from different types of food in countries around the world.
The last couple of columns also includes counts of obesity, undernourished,
and COVID-19 cases as percentages of the total population for comparison purposes.
'''
data = pd.read_csv('./data/Food_Supply_kcal_Data.csv')

data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,4.7774,0.8504,0.0,37.1186,0.1501,0.0000,1.4757,1.2006,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.9120,16.0930,1.0591,0.0,16.2107,0.8091,0.1471,3.8982,3.8688,...,2.8244,2.7508,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0896,6.0326,0.1941,0.0,25.0112,0.4181,0.1195,3.1805,1.2543,...,5.7638,2.0457,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,1.9388,4.6927,0.2644,0.0,18.3521,0.0441,0.8372,2.3133,2.9302,...,4.2741,0.3525,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,2.3041,15.3672,1.5429,0.0,13.7215,0.2057,1.7280,3.6824,7.0356,...,4.6904,1.2960,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

In [132]:
data.describe()

,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,...,Treenuts,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Confirmed,Deaths,Recovered,Active,Population
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,...,170.000000,170.000000,170.000000,170.000000,167.000000,164.000000,164.000000,164.000000,162.000000,1.700000e+02
mean,1.325197,9.294553,1.267419,0.002786,20.365358,0.428504,0.631501,2.011975,3.896367,2.924466,...,0.261619,40.707045,4.872421,1.086328,18.707784,2.021972,0.039370,1.452356,0.535158,4.452364e+07
std,1.062362,4.754174,1.283723,0.030879,6.467936,0.304333,0.579007,1.416149,2.216693,2.019384,...,0.285631,4.754308,2.164249,0.648232,9.633557,2.360454,0.048718,1.927617,1.329249,1.564182e+08
min,0.000000,1.623700,0.000000,0.000000,8.956500,0.018800,0.000000,0.147100,0.298000,0.116900,...,0.000000,27.708900,0.932500,0.095700,2.100000,0.000312,0.000000,0.000000,0.000000,5.400000e+04
25%,0.361300,5.082600,0.342850,0.000000,15.306175,0.141000,0.240150,1.224525,2.080700,1.107775,...,0.046625,36.830725,3.126350,0.602600,8.500000,0.140976,0.002013,0.099107,0.012028,2.816250e+06
50%,1.244600,9.034100,0.877500,0.000000,19.619950,0.403750,0.478300,1.694850,3.687450,2.719800,...,0.174000,40.969700,4.660650,1.003100,21.200000,1.011570,0.011998,0.475402,0.081040,1.018150e+07
75%,2.028050,13.174975,1.763175,0.000000,24.841450,0.632950,0.869675,2.370700,5.278325,4.319625,...,0.389575,44.940900,6.427900,1.366950,25.700000,3.487069,0.069503,2.622874,0.358183,3.271625e+07
max,5.157400,22.291100,7.800700,0.400700,37.526500,1.446100,4.418300,8.854000,10.567400,9.944100,...,1.421000,48.386400,10.383900,3.352400,45.600000,10.408199,0.185428,9.039871,8.019819,1.402385e+09

# Uzupełnianie brakujących danych i formatowanie danych

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       170 non-null    object
 1   Alcoholic Beverages           170 non-null    float64
 2   Animal Products               170 non-null    float64
 3   Animal fats                   170 non-null    float64
 4   Aquatic Products, Other       170 non-null    float64
 5   Cereals - Excluding Beer      170 non-null    float64
 6   Eggs                          170 non-null    float64
 7   Fish, Seafood                 170 non-null    float64
 8   Fruits - Excluding Wine       170 non-null    float64
 9   Meat                          170 non-null    float64
 10  Milk - Excluding Butter       170 non-null    float64
 11  Miscellaneous                 170 non-null    float64
 12  Offals                        170 non-null    float64
 13  Oilcrops                      170 non-null    float64
 14  Pulses                        170 non-null    float64
 15  Spices                        170 non-null    float64
 16  Starchy Roots                 170 non-null    float64
 17  Stimulants                    170 non-null    float64
 18  Sugar Crops                   170 non-null    float64
 19  Sugar & Sweeteners            170 non-null    float64
 20  Treenuts                      170 non-null    float64
 21  Vegetal Products              170 non-null    float64
 22  Vegetable Oils                170 non-null    float64
 23  Vegetables                    170 non-null    float64
 24  Obesity                       167 non-null    float64
 25  Undernourished                163 non-null    object
 26  Confirmed                     164 non-null    float64
 27  Deaths                        164 non-null    float64
 28  Recovered                     164 non-null    float64
 29  Active                        162 non-null    float64
 30  Population                    170 non-null    float64
 31  Unit (all except Population)  170 non-null    object
dtypes: float64(29), object(3)
memory usage: 42.6+ KB

In [134]:
data['Undernourished'].values

array(['29.8', '6.2', '3.9', '25', nan, '4.6', '4.3', '<2.5', '<2.5',
       '<2.5', nan, '14.7', '3.9', '<2.5', '<2.5', '7.5', '10.1', '17.1',
       '<2.5', '26.4', '<2.5', '3.6', '20', '12.6', '16.4', '9.9', '<2.5',
       '59.6', '37.5', '2.7', '8.5', '4.8', '40.3', '4.8', '19', '<2.5',
       '<2.5', '5.6', '<2.5', '<2.5', '18.9', '6.2', '9.5', '7.9', '4.5',
       '9', '2.9', '20.6', '20.6', '3.7', '<2.5', '<2.5', '4.2', '10.5',
       '10.2', '7.9', '<2.5', '5.5', '<2.5', nan, '15.2', '16.5', '28',
       '8.1', '49.3', '12.9', '<2.5', '<2.5', '14.5', '8.3', '4.9', '29',
       '<2.5', '<2.5', '<2.5', '8', '<2.5', '12.2', '<2.5', '29.4', '2.7',
       '47.8', '<2.5', '2.8', '7.1', '16.5', '<2.5', '11', '13.1', '37.2',
       '<2.5', '<2.5', '44.4', '17.5', '2.5', '10.3', '6.3', '<2.5',
       '10.4', '6.5', '3.6', '13.4', '<2.5', '3.4', '27.9', '10.6',
       '27.3', '8.7', '<2.5', '7.1', '<2.5', '17', '16.5', '13.4', '3.2',
       '<2.5', '6.8', '20.3', '10', '10.7', '9.7', '13.3', '<2.5', '<2.5',
       nan, '<2.5', '<2.5', '36.8', nan, nan, '5.7', '2.7', '7', '7.1',
       '11.3', '5.7', '25.6', '3.4', '<2.5', '8.9', '6.2', '<2.5', '9',
       '20.1', '8.5', '<2.5', '<2.5', '3.5', nan, '7.8', '24.9', '16.1',
       '5.5', '4.3', '<2.5', '5.4', '41', '3.5', '2.6', '<2.5', '30.7',
       '<2.5', '<2.5', '6.3', '7.2', '21.2', '9.3', '38.9', '46.7',
       '51.3'], dtype=object)

In [135]:
def estimate_percentage_range(str_num_or_na):
    if type(str_num_or_na) == float and np.isnan(str_num_or_na):
        return str_num_or_na
    
    if type(str_num_or_na) == float:
        return str_num_or_na
    
    if str_num_or_na.startswith('<'):
        upper_range = str_num_or_na.replace('<', '')
        return float(upper_range) / 2
    
    if str_num_or_na.startswith('>'):
        upper_range = str_num_or_na.replace('>', '')
        return (float(upper_range) + 100) / 2
    
    return float(str_num_or_na)


# fix string values
data['Undernourished'] = data['Undernourished'].apply(estimate_percentage_range)

In [136]:
# drop meaningless column (all `%`)
data = data.drop('Unit (all except Population)', 1)

In [137]:
# display rows and columns with missing values
columns_with_missing_values = data.isnull().values.any(axis=0)
rows_with_missing_values = data.isnull().values.any(axis=1)
columns_with_missing_values = pd.Index(['Country']).append(data.columns[columns_with_missing_values])

data[rows_with_missing_values][columns_with_missing_values]

,Country,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active
4,Antigua and Barbuda,19.1,NaN,0.293878,0.007143,0.190816,0.095918
10,Bahamas,32.1,NaN,2.100763,0.044784,1.735115,0.320865
26,Canada,31.3,1.25,2.109961,0.054203,1.909848,NaN
29,Chile,28.8,2.70,3.842229,0.097047,3.626194,NaN
52,French Polynesia,NaN,4.20,NaN,NaN,NaN,NaN
59,Grenada,20.2,NaN,0.130973,0.000885,0.129204,0.000885
80,Kiribati,45.6,2.70,NaN,NaN,NaN,NaN
81,"Korea, North",7.1,47.80,NaN,NaN,NaN,NaN
105,Myanmar,5.7,10.60,NaN,NaN,NaN,NaN
109,New Caledonia,NaN,7.10,NaN,NaN,NaN,NaN
124,Republic of Moldova,20.1,NaN,4.646195,0.099859,4.333692,0.212645
128,Saint Kitts and Nevis,23.1,NaN,0.074074,0.000000,0.066667,0.007407
129,Saint Lucia,19.8,NaN,0.996154,0.009890,0.480769,0.505495
147,Taiwan*,NaN,3.50,0.003914,0.000038,0.003571,0.000305
148,Tajikistan,12.6,NaN,0.141139,0.000955,0.140185,0.000000
155,Turkmenistan,17.5,5.40,NaN,NaN,NaN,NaN

In [138]:
# drop counties with missing fields
data = data.drop(data.index[rows_with_missing_values])
data = data.reset_index()

data.isnull().values.any()

False